.login{
     display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
    background-image: url("https://1.bp.blogspot.com/-fd1WXKk-TAc/XyqfngP4PiI/AAAAAAAAVMw/umQz3tkxtg43uPIy8W5og6gAkpCfjaTvACLcBGAsYHQ/w1563-h1563/bg-snell.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    height: 100vh;
    text-rendering: optimizeLegibility;
}
.max-w-md {
    width: 100%;
    max-width: 28rem; /* Adjust the maximum width as needed */
}